gradio>=4.44.0
torch
torchvision
torchaudio
tensorboard
pytorch_lightning
torchmetrics
omegaconf
shortuuid
setuptools
wheel
pip
numpy<2.0
tokenizers>=0.15.0
transformers>=4.41.0
diffusers
einops
wandb
rich
matplotlib
opencv-python
imageio
scipy
scikit-learn

# for visualization
smplx==0.1.28
trimesh==3.9.24
joblib==1.2.0
h5py
scikit-image
spacy
ftfy
more-itertools
natsort
PyOpenGL>=3.1.6
pyrender
moviepy
librosa
triangle==20220202
huggingface-hub>=0.30.0
shapely
bert-score
